Flask==3.0.0
google-genai
pypdf
python-dotenv                                                                                                                                                                                                                                                     
pillow                                                                                                                                                                                                                                              
google-genai